<form [formGroup]="editMedForm" (ngSubmit)="onFormSubmit(editMedForm)">
  <div id="new-med-info">
    <!-- Med Name -->
    <div class="form-group">
      <label for="name">Medication Name:</label>
      <input
      type="text"
      name="name"
      id="name"
      class="form-control"
      formControlName="name"
      />
    </div>
    <!-- Dosage Amount -->
    <div class="form-group">
      <label for="dosage">Dosage Amount:</label>
      <input
      type="text"
      name="dosage"
      id="dosage"
      class="form-control"
      formControlName="dosage"
      />
    </div>
    <!-- Set if Current -->
    <div class="form-group">
      <label for="is_current">Currently Taking?</label>
      <select
      name="is_current"
      id="is_current"
      class="form-control"
      formControlName="is_current">
        <option value="true" [selected]="this.selectedMedication.is_current">Yes</option>
        <option value="false" [selected]="!this.selectedMedication.is_current">No</option>
      </select>
    </div>
    <!-- Dosing Frequency -->
    <div class="form-group">
      <label for="frequency">Dosing Frequency:</label>
      <select
      name="frequency"
      id="frequency"
      class="form-control"
      formControlName="frequency">
        <option *ngFor="let frequency of frequencies" [selected]="this.selectedMedication.frequency">{{ frequency }}</option>
      </select>
    </div>
      <!-- Monthly Date -->
      <div class="form-group" *ngIf="editMedForm.value.frequency == 'Monthly'">
        <label for="date">Date to repeat on:</label>
        <input
        type="number"
        max="31"
        min="1"
        name="date"
        id="date"
        class="form-control"
        formControlName="date" />
      </div>
    <!-- Day of Week -->
    <div class="form-group" *ngIf="editMedForm.value.frequency == 'Weekly'">
      <label for="day">Day to repeat on:</label>
      <select
      name="day"
      id="day"
      class="form-control"
      formControlName="day">
        <option *ngFor="let day of weekdays">{{ day }}</option>
      </select>
    </div>
    <!-- Time(s) of Day -->
    <div *ngIf="editMedForm.value.frequency">
      <label>Times of day taken:</label>
      <!-- Morning -->
      <div class="form-group">
        <input
          type="checkbox"
          name="morning"
          value="morning"
          id="morning"
          [checked]="this.selectedMedication.morning"
          formControlName="morning">
        <label for="morning">Morning</label>
        <!-- Mid-day -->
        <input
          type="checkbox"
          name="midday"
          value="midday"
          id="midday"
          [checked]="this.selectedMedication.midday"
          formControlName="midday">
        <label for="midday">Mid-day</label>
        <!-- Evening -->
        <input
          type="checkbox"
          name="evening"
          value="evening"
          id="evening"
          [checked]="this.selectedMedication.evening"
          formControlName="evening">
        <label for="evening">Evening</label>
        <!-- Night -->
        <input
          type="checkbox"
          name="night"
          value="night"
          id="night"
          [checked]="this.selectedMedication.night"
          formControlName="night">
        <label for="night">Night</label>
      </div>
    </div>
    <!-- Noted Health Benefits -->
    <div class="form-group">
      <label for="benefits">Noted Health Benefits:</label>
      <textarea
        rows="5"
        name="benefits"
        id="benefits"
        class="form-control"
        formControlName="benefits">
      </textarea>
    </div>
    <!-- Noted Side-Effects -->
    <div class="form-group">
      <label for="side-effects">Noted Side-Effects:</label>
      <textarea
        rows="5"
        name="side-effects"
        id="side_effects"
        class="form-control"
        formControlName="side_effects">
      </textarea>
    </div>
    <!-- Start Date -->
    <div class="form-group">
      <label for="start-date">Date Started:</label>
      <input
      type="text"
      name="start-date"
      id="start_date"
      class="form-control"
      formControlName="start_date"
      />
    </div>
    <!-- End Date -->
    <div class="form-group" *ngIf="!editMedForm.value.is_current">
      <label for="stop-date">Date Stopped:</label>
      <input
      type="text"
      name="stop-date"
      id="stop_date"
      class="form-control"
      formControlName="stop_date"
      />
    </div>
    <!-- Reason Med Stopped -->
    <div class="form-group" *ngIf="!editMedForm.value.is_current">
      <label for="reason">Reason Stopped Taking:</label>
      <textarea
        rows="5"
        name="reason"
        id="reason_stopped"
        class="form-control"
        formControlName="reason_stopped">
        >
      </textarea>
    </div>
    <button class="btn btn-success my-2 mx-1" type="submit" [disabled]="!editMedForm.valid">Submit</button>
    <button class="btn btn-danger my-2 mx-1" type="button" routerLink="../">Cancel</button>
  </div>
</form>
