<form [formGroup]="editMedForm" (ngSubmit)="onFormSubmit(editMedForm)">
  <div id="new-med-info">
    <!-- Med Name -->
    <div class="form-group">
      <label for="name">Medication Name:</label>
      <input
      type="text"
      name="name"
      id="name"
      class="form-control"
      formControlName="name"
      />
    </div>
    <!-- Dosage Amount -->
    <div class="form-group">
      <label for="dosage">Dosage Amount:</label>
      <input
      type="text"
      name="dosage"
      id="dosage"
      class="form-control"
      formControlName="dosage"
      />
    </div>
    <!-- Dosing Frequency -->
    <div class="form-group">
      <label for="frequency">Dosing Frequency:</label>
      <select
      name="frequency"
      id="frequency"
      class="form-control"
      formControlName="frequency">
        <option *ngFor="let frequency of frequencies">{{ frequency }}</option>
      </select>
    </div>
      <!-- Monthly Date -->
      <div class="form-group" *ngIf="editMedForm.value.frequency == 'Monthly'">
        <label for="date">Date to repeat on:</label>
        <input
        type="number"
        max="31"
        min="1"
        name="date"
        id="date"
        class="form-control"
        formControlName="date" />
      </div>
    <!-- Day of Week -->
    <div class="form-group" *ngIf="editMedForm.value.frequency == 'Weekly'">
      <label for="day">Day to repeat on:</label>
      <select
      name="day"
      id="day"
      class="form-control"
      formControlName="day">
        <option *ngFor="let day of weekdays">{{ day }}</option>
      </select>
    </div>
    <!-- Time(s) of Day -->
    <div *ngIf="editMedForm.value.frequency">
      <label>Times of day taken:</label>
        <div class="form-group" *ngFor="let time of dosingTimes">
          <input
          type="checkbox"
          name="timeOfDay"
          value="{{ time }}"
          id="{{ time }}"
          formArrayName="timeOfDay" />
        <label for="{{ time }}">{{ time }}</label>
      </div>
    </div>
    <!-- Noted Health Benefits -->
    <div class="form-group">
      <label for="benefits">Noted Health Benefits:</label>
      <textarea
        rows="5"
        name="benefits"
        id="benefits"
        class="form-control"
        formControlName="benefits">
      </textarea>
    </div>
    <!-- Noted Side-Effects -->
    <div class="form-group">
      <label for="side-effects">Noted Side-Effects:</label>
      <textarea
        rows="5"
        name="side-effects"
        id="sideEffects"
        class="form-control"
        formControlName="sideEffects">
      </textarea>
    </div>
    <!-- Start Date -->
    <div class="form-group">
      <label for="start-date">Date Started:</label>
      <input
      type="text"
      name="start-date"
      id="startDate"
      class="form-control"
      formControlName="startDate"
      />
    </div>
    <!-- End Date -->
    <div class="form-group" *ngIf="!isCurrent">
      <label for="stop-date">Date Stopped:</label>
      <input
      type="text"
      name="stop-date"
      id="stopDate"
      class="form-control"
      formControlName="stopDate"
      />
    </div>
    <!-- Reason Med Stopped -->
    <div class="form-group" *ngIf="!isCurrent">
      <label for="reason">Reason Stopped Taking:</label>
      <textarea
        rows="5"
        name="reason"
        id="reasonStopped"
        class="form-control"
        formControlName="reasonStopped">
        >
      </textarea>
    </div>
    <button class="btn btn-success my-2 mx-1" type="submit" [disabled]="!editMedForm.valid">Submit</button>
    <button class="btn btn-danger my-2 mx-1" type="button" routerLink="../">Cancel</button>
  </div>
</form>
