<div class="container">
  <h2 class="col-md-4">Previous Medications:</h2>
</div>
<div class='container'>
  <div class="row">
    <div class="col-md-4">
      <ol class="list-group" *ngIf="pastMedications.length >= 1; else elseBlock">
        <li class="list-group-item" *ngFor="let medication of pastMedications, let i = index">
          <a routerLink='/past-meds/{{i}}' routerLinkActive="active">{{medication.name}} {{medication.dosage}}</a>
        </li>
      </ol>
      <ng-template #elseBlock><h3>No previous medications to display.</h3></ng-template>
      <button class="btn btn-success mt-2" routerLink="add">Add a medication</button>
    </div>
    <div class="col-md-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
