<div class="row">
  <div class="col-xs-12 col-md-6 offset-md-3">
    <form (ngSubmit)="onAuthFormSubmit(authFormRef)" #authFormRef="ngForm">
      <!-- Get Email -->
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" id="email" name="email" class="form-control" email ngModel required />
      </div>
      <!-- Get Password -->
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" ngModel required minlength="6" />
      </div>
      <!-- Buttons -->
      <button class="btn btn-primary" type="submit" [disabled]="!authFormRef.valid">{{ isLoginMode ? 'Log In' : 'Register' }}</button>
      |
      <button class="btn btn-primary" type="button" (click)="onSwitchAuthMode()">Switch to {{ isLoginMode ? 'Register' : 'Log In' }}</button>
    </form>
    <p class='alert alert-danger mt-3' *ngIf="errMessage">{{ errMessage }}</p>
  </div>
</div>
