<div>
  <div class="border border-primary rounded px-3 py-2">
    <p class="h3">Medication Name: {{ selectedMedication.name }}</p>
    <div class="row">
      <p class="h6 col-md-2">Dosage: </p><p class="col-md-6">{{ selectedMedication.dosage }}</p>
    </div>
    <hr>
    <div class="row">
      <p class="h6 col-md-2">Frequency: </p><p class="col-md-6">{{ selectedMedication.frequency }}</p>
    </div>
    <hr>
    <div class="row" *ngIf="selectedMedication.frequency == 'Monthly'">
      <p class="h6 col-md-2">Monthly Repeat Date: </p><p class="col-md-6">{{ selectedMedication.date }}</p>
    </div>
    <hr *ngIf="selectedMedication.frequency == 'Monthly'">
    <div class="row" *ngIf="selectedMedication.frequency == 'Weekly'">
      <p class="h6 col-md-2">Repeated On: </p><p class="col-md-6">{{ selectedMedication.day }}</p>
    </div>
    <hr *ngIf="selectedMedication.frequency == 'Weekly'">
    <div class="row">
      <p class="h6 col-md-2">Time of Day: </p><p class="col-md-6">{{selectedTimes.join(", ")}}</p>
    </div>
    <hr>
    <div class="row">
      <p class="h6 col-md-2">Benefits: </p><p class="col-md-6">{{ selectedMedication.benefits }}</p>
    </div>
    <hr>
    <div class="row">
      <p class="h6 col-md-2">Side Effects: </p><p class="col-md-6">{{ selectedMedication.side_effects }}</p>
    </div>
    <hr>
    <div class="row">
      <p class="h6 col-md-2">Medication Started: </p><p class="col-md-6">{{ selectedMedication.start_date }}</p>
    </div>
    <hr>
    <div class="row" *ngIf="!this.selectedMedication.is_current">
      <p class="h6 col-md-2">Medication Stopped: </p><p class="col-md-6">{{ selectedMedication.stop_date }}</p>
    </div>
    <hr *ngIf="!selectedMedication.is_current">
    <div class="row" *ngIf="!this.selectedMedication.is_current">
      <p class="h6 col-md-2">Reason for Stopping: </p><p class="col-md-6">{{ selectedMedication.reason_stopped }}</p>
    </div>
    <hr *ngIf="!selectedMedication.is_current">
    <button class="btn btn-primary" (click)="editMed(selectedMedication.id!)">Edit this medication</button>
    <button class="btn btn-danger" (click)="deleteMed(selectedMedication)">Delete this medication</button>
    <button class="btn btn-warning" (click)="endMedication(selectedMedication)" *ngIf="this.selectedMedication.is_current">Move to Previous Medications</button>
  </div>
</div>
