<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark justify-content-between">
    <div class="container-fluid">
      <a class="navbar-brand mx-3">Easy Med Tracker</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <div class="navbar-nav" *ngIf="isAuthenticated">
          <a class="nav-link" routerLink="/current-meds" routerLinkActive="active">Current Medications</a>
          <a class="nav-link" routerLink="/past-meds" routerLinkActive="active">Previous Medications</a>
          <a class="nav-link" routerLink="/schedule" routerLinkActive="active">Schedule</a>
          <a class="nav-link" style="cursor: pointer;" routerLinkActive="active" (click)="onLogout()">Logout</a>
          <form class="form-inline" (ngSubmit)="onSearch(searchForm)" #searchForm="ngForm">
            <div style="display: inline-flex;">
              <input class="form-control mx-auto" type="search" placeholder="Find a Medication" aria-label="Search" ngModel name="term" required>
              <button class="btn btn-outline-primary mx-3" type="submit" [disabled]="!searchForm.touched || !searchForm.valid">Search</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</body>
