<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">Easy Med Tracker</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/current-meds">Current Medications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/past-meds">Previous Medications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/schedule">Schedule</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Find a Medication" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>
