<nav class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-between">
  <a class="navbar-brand mx-3">Easy Med Tracker</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/current-meds">Current Medications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/past-meds">Previous Medications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/schedule">Schedule</a>
      </li>
    </ul>
  </div>
  <div class="mx-3">
    <form class="form-inline" (ngSubmit)="onSearch(searchForm)" #searchForm="ngForm">
      <input class="form-control mx-auto" type="search" placeholder="Find a Medication" aria-label="Search" ngModel name="term">
      <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>
