<div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Sunday</th>
        <th scope="col">Monday</th>
        <th scope="col">Tuesday</th>
        <th scope="col">Wednesday</th>
        <th scope="col">Thursday</th>
        <th scope="col">Friday</th>
        <th scope="col">Saturday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <!-- Morning Row -->
        <th scope="row">Morning</th>
          <td>
            <ol *ngFor="let med of sunday.morning">
              <li>
                {{ med }}
              </li>
            </ol>
          </td>
          <td>
            <ol *ngFor="let med of monday.morning">
              <li>
                {{ med }}
              </li>
            </ol>
          </td>
          <td>
            <ol *ngFor="let med of tuesday.morning">
              <li>
                {{ med }}
              </li>
            </ol>
          </td>
          <td>
            <ol *ngFor="let med of wednesday.morning">
              <li>
                {{ med }}
              </li>
            </ol>
          </td>
          <td>
            <ol *ngFor="let med of thursday.morning">
              <li>
                {{ med }}
              </li>
            </ol>
          </td>
          <td>
            <ol *ngFor="let med of friday.morning">
              <li>
                {{ med }}
              </li>
            </ol>
          </td>
          <td>
            <ol *ngFor="let med of saturday.morning">
              <li>
                {{ med }}
              </li>
            </ol>
          </td>
      </tr>
      <tr>
      <!-- Mid-Day Row -->
        <th scope="row">Mid-Day</th>
        <td>
          <ol *ngFor="let med of sunday.midday">
            <li>
              {{ med }}
            </li>
          </ol>
        </td>
        <td>
          <ol *ngFor="let med of monday.midday">
            <li>
              {{ med }}
            </li>
          </ol>
        </td>
        <td>
          <ol *ngFor="let med of tuesday.midday">
            <li>
              {{ med }}
            </li>
          </ol>
        </td>
        <td>
          <ol *ngFor="let med of wednesday.midday">
            <li>
              {{ med }}
            </li>
          </ol>
        </td>
        <td>
          <ol *ngFor="let med of thursday.midday">
            <li>
              {{ med }}
            </li>
          </ol>
        </td>
        <td>
          <ol *ngFor="let med of friday.midday">
            <li>
              {{ med }}
            </li>
          </ol>
        </td>
        <td>
          <ol *ngFor="let med of saturday.midday">
            <li>
              {{ med }}
            </li>
          </ol>
        </td>
      </tr>
      <tr>
      <!-- Evening Row -->
        <th scope="row">Evening</th>
        <td>
          <ol *ngFor="let med of sunday.evening">
            <li>
              {{ med }}
            </li>
          </ol>
        </td>
        <td>
          <ol *ngFor="let med of monday.evening">
            <li>
              {{ med }}
            </li>
          </ol>
        </td>
        <td>
          <ol *ngFor="let med of tuesday.evening">
            <li>
              {{ med }}
            </li>
          </ol>
        </td>
        <td>
          <ol *ngFor="let med of wednesday.evening">
            <li>
              {{ med }}
            </li>
          </ol>
        </td>
        <td>
          <ol *ngFor="let med of thursday.evening">
            <li>
              {{ med }}
            </li>
          </ol>
        </td>
        <td>
          <ol *ngFor="let med of friday.evening">
            <li>
              {{ med }}
            </li>
          </ol>
        </td>
        <td>
          <ol *ngFor="let med of saturday.evening">
            <li>
              {{ med }}
            </li>
          </ol>
        </td>
      </tr>
      <tr>
      <!--Night Row -->
        <th scope="row">Night</th>
        <td>
          <ol *ngFor="let med of sunday.night">
            <li>
              {{ med }}
            </li>
          </ol>
        </td>
        <td>
          <ol *ngFor="let med of monday.night">
            <li>
              {{ med }}
            </li>
          </ol>
        </td>
        <td>
          <ol *ngFor="let med of tuesday.night">
            <li>
              {{ med }}
            </li>
          </ol>
        </td>
        <td>
          <ol *ngFor="let med of wednesday.night">
            <li>
              {{ med }}
            </li>
          </ol>
        </td>
        <td>
          <ol *ngFor="let med of thursday.night">
            <li>
              {{ med }}
            </li>
          </ol>
        </td>
        <td>
          <ol *ngFor="let med of friday.night">
            <li>
              {{ med }}
            </li>
          </ol>
        </td>
        <td>
          <ol *ngFor="let med of saturday.night">
            <li>
              {{ med }}
            </li>
          </ol>
        </td>
      </tr>
    </tbody>
  </table>
</div>
