<form [formGroup]="addMedForm" (ngSubmit)="onFormSubmit(addMedForm)">
  <div id="new-med-info">
    <!-- Med Name -->
    <div class="form-group">
      <label for="name">Medication Name:</label>
      <input
      type="text"
      name="name"
      id="name"
      class="form-control"
      formControlName="name"
      />
    </div>
    <!-- Set if Current -->
    <div class="form-group">
      <label for="isCurrent">Currently Taking?</label>
      <select
      name="isCurrent"
      id="isCurrent"
      class="form-control"
      formControlName="isCurrent">
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>
    </div>
    <!-- Dosage Amount -->
    <div class="form-group">
      <label for="dosage">Dosage Amount:</label>
      <input
      type="text"
      name="dosage"
      id="dosage"
      class="form-control"
      formControlName="dosage"
      />
    </div>
    <!-- Dosing Frequency -->
    <div class="form-group">
      <label for="frequency">Dosing Frequency:</label>
      <select
      name="frequency"
      id="frequency"
      class="form-control"
      formControlName="frequency">
        <option *ngFor="let frequency of frequencies">{{ frequency }}</option>
      </select>
    </div>
    <!-- Monthly Date -->
    <div class="form-group" *ngIf="addMedForm.value.frequency == 'Monthly'">
      <label for="date">Date to repeat on:</label>
      <input
      type="number"
      max="31"
      min="1"
      name="date"
      id="date"
      class="form-control"
      formControlName="date" />
    </div>
    <!-- Day of Week -->
    <div class="form-group" *ngIf="addMedForm.value.frequency == 'Weekly'">
      <label for="day">Day to repeat on:</label>
      <select
      name="day"
      id="day"
      class="form-control"
      formControlName="day">
        <option *ngFor="let day of weekdays">{{ day }}</option>
      </select>
    </div>
    <!-- Time(s) of Day -->
    <div *ngIf="addMedForm.value.frequency">
      Times of day taken:
      <!-- Morning -->
      <div class="form-group">
        <input
          type="checkbox"
          name="morning"
          value="morning"
          id="morning"
          formControlName="morning">
        <label for="morning">Morning</label>
        <!-- Mid-day -->
        <input
          type="checkbox"
          name="midday"
          value="midday"
          id="midday"
          formControlName="midday">
        <label for="midday">Mid-day</label>
        <!-- Evening -->
        <input
          type="checkbox"
          name="evening"
          value="evening"
          id="evening"
          formControlName="evening">
        <label for="evening">Evening</label>
        <!-- Night -->
        <input
          type="checkbox"
          name="night"
          value="night"
          id="night"
          formControlName="night">
        <label for="night">Night</label>
      </div>
    </div>
    <!-- Noted Health Benefits -->
    <div class="form-group">
      <label for="benefits">Noted Health Benefits:</label>
      <textarea
        rows="5"
        name="benefits"
        id="benefits"
        class="form-control"
        formControlName="benefits">
      </textarea>
    </div>
    <!-- Noted Side-Effects -->
    <div class="form-group">
      <label for="side-effects">Noted Side-Effects:</label>
      <textarea
        rows="5"
        name="side-effects"
        id="sideEffects"
        class="form-control"
        formControlName="sideEffects">
      </textarea>
    </div>
    <!-- Start Date -->
    <div class="form-group">
      <label for="start-date">Date Started:</label>
      <input
      type="text"
      name="start-date"
      id="startDate"
      class="form-control"
      formControlName="startDate"
      />
    </div>
    <!-- End Date -->
    <div class="form-group" *ngIf="!addMedForm.value.isCurrent">
      <label for="stop-date">Date Stopped:</label>
      <input
      type="text"
      name="stop-date"
      id="stopDate"
      class="form-control"
      formControlName="stopDate"
      />
    </div>
    <!-- Reason Med Stopped -->
    <div class="form-group" *ngIf="!addMedForm.value.isCurrent">
      <label for="reason">Reason Stopped Taking:</label>
      <textarea
        rows="5"
        name="reason"
        id="reasonStopped"
        class="form-control"
        formControlName="reasonStopped">
      </textarea>
    </div>
    <button class="btn btn-success my-2 mx-1" type="submit" [disabled]="!addMedForm.valid">Submit</button>
    <button class="btn btn-danger my-2 mx-1" type="button" routerLink="../">Cancel</button>
  </div>
</form>
